*{box-sizing: border-box;}
/*GLOBAL*/
html{font-size: 62.5%;}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 0 auto;
}
ul{list-style: none; padding: 0;}
a{text-decoration: none;}

main{
    margin: 0 auto;
    max-width: 50%;
}

header{
    background: #B3D4FB;
    padding: 2rem;
    text-align: center;
}
button#add{
    margin-top: 2rem;
}
.button_style{
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    width: 8rem;
    margin: 1rem;
}
h1, h2{
    margin: 0;
}

footer{
    background: #B3D4FB;
    color: black;
    display: flex;
    align-items: baseline;

}
.liborder{
    display: flex;
    align-items: center;
    padding: 3rem;
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    border: solid 2px black;
    margin-top: 2rem;
    max-width: 100%;
}
